@page
@model Initiatives.Pages.EngagementTypes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<h4>Engagement Types</h4>
<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.EngagementType[0].EngagementTypeShortDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EngagementType[0].EngagementTypeDescription)
                </th>
                
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.EngagementType) {
        <tr>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.EngagementTypeId">@Html.DisplayFor(modelItem => item.EngagementTypeShortDescription)</a>
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.EngagementTypeId">@Html.DisplayFor(modelItem => item.EngagementTypeDescription)</a>
            </td>
            <td>
               <a asp-page="./Delete" asp-route-id="@item.EngagementTypeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
