@page
@model Initiatives.Pages.EAInitiatives.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this (Mark Inactive)?</h3>
<h4>Initiative</h4>
<hr />
<div class="row">
    <div class="col-lg-6 col-lg-offset-3">
        <div class="well well-lg">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Initiative.InitiativeId" />

                <input type="hidden" asp-for="Initiative.IsActive" />
                <div class="form-group">
                    <label asp-for="Initiative.EngagementName" class="control-label"></label>
                    <input asp-for="Initiative.EngagementName" class="form-control" readonly="readonly" />
                    <span asp-validation-for="Initiative.EngagementName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Initiative.EngagementIdentifier" class="control-label"></label>
                    <input asp-for="Initiative.EngagementIdentifier" class="form-control" readonly="readonly" />
                    <span asp-validation-for="Initiative.EngagementIdentifier" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Initiative.EngagementTypeId" class="control-label"></label>
                    <select asp-for="Initiative.EngagementTypeId" class="form-control" asp-items="ViewBag.EngagementTypeId" readonly="readonly"></select>
                    <span asp-validation-for="Initiative.EngagementTypeId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Initiative.SolutionTypeId" class="control-label"></label>
                    <select asp-for="Initiative.SolutionTypeId" class="form-control" asp-items="ViewBag.SolutionTypeId" readonly="readonly"></select>
                    <span asp-validation-for="Initiative.SolutionTypeId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Initiative.LocationId" class="control-label"></label>
                    <select asp-for="Initiative.LocationId" class="form-control" asp-items="ViewBag.LocationId" readonly="readonly"></select>
                    <span asp-validation-for="Initiative.LocationId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input asp-for="Initiative.PHI" readonly="readonly" /> @Html.DisplayNameFor(model => model.Initiative.PHI)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input asp-for="Initiative.PCI" readonly="readonly" /> @Html.DisplayNameFor(model => model.Initiative.PCI)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Initiative.UpStreamSystem" class="control-label"></label>
                    <input asp-for="Initiative.UpStreamSystem" class="form-control" readonly="readonly" />
                    <span asp-validation-for="Initiative.UpStreamSystem" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Initiative.DownStreamSystem" class="control-label"></label>
                    <input asp-for="Initiative.DownStreamSystem" class="form-control" readonly="readonly" />
                    <span asp-validation-for="Initiative.DownStreamSystem" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Initiative.ProjectStartDate" class="control-label"></label>
                    <input asp-for="Initiative.ProjectStartDate" class="form-control" readonly="readonly" />
                    <span asp-validation-for="Initiative.ProjectStartDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Initiative.ARBDate" class="control-label"></label>
                    <input asp-for="Initiative.ARBDate" class="form-control" readonly="readonly" />
                    <span asp-validation-for="Initiative.ARBDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Initiative.Resource" class="control-label"></label>
                    <select asp-for="Initiative.Resource" class="form-control" asp-items="ViewBag.Resource" readonly="readonly"></select>
                    <span asp-validation-for="Initiative.Resource" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Initiative.ReceiveDate" class="control-label"></label>
                    <input asp-for="Initiative.ReceiveDate" class="form-control" readonly="readonly" />
                    <span asp-validation-for="Initiative.ReceiveDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Initiative.StartDate" class="control-label"></label>
                    <input asp-for="Initiative.StartDate" class="form-control" readonly="readonly" />
                    <span asp-validation-for="Initiative.StartDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Initiative.CompleteDate" class="control-label"></label>
                    <input asp-for="Initiative.CompleteDate" class="form-control" readonly="readonly" />
                    <span asp-validation-for="Initiative.CompleteDate" class="text-danger"></span>
                </div>
                <div class="form-group" id="business">
                    <label asp-for="Initiative.InitiativeBusiness" class="control-label"></label>
                    <select name="selectedBusiness" multiple="multiple" size="1" class="form-control" readonly="readonly">
                        @{
                            foreach (var business in Model.AssignedBusinessDataList)
                            {
                                @:<option value="@business.BusinessId"
                                          if (business.Assigned == true) { @: selected="selected"
                                          } @:>
                                    @business.BusinessDescription
                                @:</option>
                            }
                        }
                    </select>
                </div>
                <div class="form-group" id="facility">
                    <label asp-for="Initiative.InitiativeFacility" class="control-label"></label>
                    <select name="selectedFacility" multiple="multiple" size="1" class="form-control" readonly="readonly">
                        @{
                            foreach (var facility in Model.AssignedFacilityDataList)
                            {
                                @:<option value="@facility.FacilityId"
                                          if (facility.Assigned == true) { @: selected="selected"
                                          } @:>
                                    @facility.FacilityDescription
                                @:</option>
                            }
                        }
                    </select>
                </div>
                <div class="form-group" id="metaTag">
                    <label asp-for="Initiative.InitiativeMetaTag" class="control-label"></label>
                    <select name="selectedMetaTags" multiple="multiple" size="1" class="form-control" readonly="readonly">
                        @{
                            foreach (var metaTag in Model.AssignedMetaTagDataList)
                            {
                                @:<option value="@metaTag.MetaTagId"
                                          if (metaTag.Assigned == true) { @: selected="selected"
                                          } @:>
                                    @metaTag.MetaTagDescription
                                @:</option>
                            }
                        }
                    </select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Delete" class="btn btn-default btn-xs" />
                </div>
            </form>
        </div>
    </div>
</div>

<div>

    <a asp-page="./Index">Back to List</a>

</div>
