@page
@model Initiatives.Pages.EAInitiatives.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<div class="row">
    <div class="well well-sm">
        <form asp-page="./Index" method="get" class="form-inline">
            <div class="form-group">
                <input type="text" name="SearchString" value="@Model.CurrentFilter" class="form-control" placeholder="Search by Name" />
            </div>
            &nbsp
            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-default btn-toolbar btn-xs" />
            </div>
            <div class="form-group">
                <div class="checkbox">

                    @Html.CheckBox("IncludeInactive", Model.IncludeDeleted)
                    <label class="checkbox" for="IncludeInactive">
                        Include Inactive
                    </label>
                </div>
            </div>
        </form>
    </div>
</div>
<p>

</p>
<table class="table">
    <thead>
        <tr>
            <th title="Name of Engagement from ServiceNow or BSF Contract Subject">
                @Html.DisplayNameFor(model => model.Initiative[0].EngagementName)

            </th>
            <th title="The Number from ServiceNow, N/A for Contract Review">
                @Html.DisplayNameFor(model => model.Initiative[0].EngagementIdentifier)
            </th>
            <th title="The Current Status of the Initiaitive">
                <a asp-page="./Index" asp-route-sortOrder="@Model.StatusSort"
                   asp-route-currentFilter="@Model.CurrentFilter"
                   asp-route-includeInactive ="@Model.IncludeDeleted"> 
                   @Html.DisplayNameFor(model => model.Initiative[0].CurrentStatusNavigation)
                </a>
            </th>
            <th title="The Date Initiaitive was Communucated to the EA Team">
                @Html.DisplayNameFor(model => model.Initiative[0].ReceiveDate)
            </th>
            <th title="The Date the Architect Started the Initiative">
                <div class="text-nowrap">
                    <a asp-page="./Index" asp-route-sortOrder="@Model.DateSort"
                       asp-route-currentFilter="@Model.CurrentFilter" 
                       asp-route-includeInactive ="@Model.IncludeDeleted" > 
                        @Html.DisplayNameFor(model => model.Initiative[0].StartDate)
                    </a>
                </div>
            </th>
            <th title="Engagement Type from Service Now or BSF Contract Review">
                @Html.DisplayNameFor(model => model.Initiative[0].EngagementTypeNavigation)
            </th>
            <th title="Technology Deplopyment Location">
                @Html.DisplayNameFor(model => model.Initiative[0].LocationNavigation)
            </th>
            <th title="Enterprise Architecture Team Member">
                <a asp-page="./Index" asp-route-sortOrder="@Model.NameSort"
                   asp-route-currentFilter="@Model.CurrentFilter" 
                   asp-route-includeInactive ="@Model.IncludeDeleted"> 
                    @Html.DisplayNameFor(model => model.Initiative[0].ResourceNavigation)
                </a>
            </th>
            <th title="The Initiative's Type of Technnology, Solution Type">
                @Html.DisplayNameFor(model => model.Initiative[0].SolutionTypeNavigation)
            </th>
            <th title="Date Initiative Presented or Re-Presentated at the Architure Review Board Meeting(ARB)">
                @Html.DisplayNameFor(model => model.Initiative[0].ARBDate)
            </th>
            <th title="Date EA has Completed all Task for the Initiative">
                <div class="text-nowrap">
                    @Html.DisplayNameFor(model => model.Initiative[0].CompleteDate)
                </div>
            </th>
            <th class="">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Initiative)
        {
            <tr>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.InitiativeId">
                        @Html.DisplayFor(modelItem => item.EngagementName)
                    </a>
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.InitiativeId">
                        @Html.DisplayFor(modelItem => item.EngagementIdentifier)
                    </a>
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.InitiativeId">
                        @Html.DisplayFor(modelItem => item.CurrentStatusNavigation.CurrentStatusShortDescription)
                    </a>
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.InitiativeId">

                        @Html.DisplayFor(modelItem => item.ReceiveDate)
                    </a>
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.InitiativeId">
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </a>
                </td>


                <td>
                    <a asp-page="./Edit" asp-route-id="@item.InitiativeId">
                        @Html.DisplayFor(modelItem => item.EngagementTypeNavigation.EngagementTypeShortDescription)
                    </a>
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.InitiativeId">
                        @Html.DisplayFor(modelItem => item.LocationNavigation.LocationShortDescription)
                    </a>
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.InitiativeId">
                        @Html.DisplayFor(modelItem => item.ResourceNavigation.FirstName)
                    </a>
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.InitiativeId">
                        @Html.DisplayFor(modelItem => item.SolutionTypeNavigation.SolutionTypeShortDescription)
                    </a>
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.InitiativeId">
                        @Html.DisplayFor(modelItem => item.ARBDate)
                    </a>
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.InitiativeId">
                        @Html.DisplayFor(modelItem => item.CompleteDate)
                    </a>
                </td>
                <td>
                    <div class="text-nowrap">
                        <a asp-page="/Notes/Index" asp-route-id="@item.InitiativeId" title="Notes">
                            <img src="~/images/Action-edit-icon.png" height="18" width="18" />
                        </a>&nbsp <!-- The Space shows Up under the cursor when selecting the hyperlink -->
                        <a asp-page="./Delete" asp-route-id="@item.InitiativeId" title="Delete">
                            <img src="~/images/delete-icon.png" height="18" width="18" />
                        </a>&nbsp
                        <a asp-page="Create" title="New">
                            <img src="~/images/add-icon.png" height="18" width="18" />
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>


<p>
    @{ if (Model.Initiative.Count == 0)
        {
            <a asp-page="Create" title="New">
                <img src="~/images/add-icon.png" height="18" width="18" />
            </a>
        }
    }

</p>
@{
    var prevDisabled = !Model.Initiative.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Initiative.HasNextPage ? "disabled" : "";
}

<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.Initiative.PageIndex - 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   asp-route-includeInactive ="@Model.IncludeDeleted" 
   class="btn btn-default btn-xs @prevDisabled">
    Previous
</a>
<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.Initiative.PageIndex + 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   asp-route-includeInactive ="@Model.IncludeDeleted" 
   class="btn btn-default btn-xs @nextDisabled">
    Next
</a>
