@page
@model Initiatives.Pages.Businesses.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Business[0].BusinessShortDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Business[0].BusinessDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Business[0].ModifiedUserName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Business[0].LastModifiedDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Business[0].IsActive)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Business) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BusinessShortDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BusinessDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedUserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastModifiedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.BusinessId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.BusinessId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.BusinessId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
