@page
@model Initiatives.Pages.MetaTags.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>MetaTag</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MetaTag.MetaTagShortDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MetaTag.MetaTagShortDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MetaTag.MetaTagDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MetaTag.MetaTagDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MetaTag.ModifiedUserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MetaTag.ModifiedUserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MetaTag.LastModifiedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MetaTag.LastModifiedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MetaTag.IsActive)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MetaTag.IsActive)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.MetaTag.MetaTagId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
