@page
@model Initiatives.Pages.MetaTags.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<h4>Meta Tags</h4>
<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.MetaTag[0].MetaTagShortDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MetaTag[0].MetaTagDescription)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.MetaTag) {
        <tr>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.MetaTagId">@Html.DisplayFor(modelItem => item.MetaTagShortDescription)</a>
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.MetaTagId">@Html.DisplayFor(modelItem => item.MetaTagDescription)</a>
            </td>
            <td>
                <a asp-page="./Delete" asp-route-id="@item.MetaTagId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
