@page
@model Initiatives.Pages.MetaTags.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.MetaTag[0].MetaTagShortDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MetaTag[0].MetaTagDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MetaTag[0].ModifiedUserName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MetaTag[0].LastModifiedDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MetaTag[0].IsActive)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.MetaTag) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MetaTagShortDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MetaTagDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedUserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastModifiedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.MetaTagId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.MetaTagId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.MetaTagId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
