@page "{id:int}"
@model Initiatives.Pages.Notes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    Note
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Note[0].Note1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Note[0].UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Note[0].CreateDate)
            </th>

            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Note)
        {
            <tr>

                <td>
                    <a asp-page="./Edit" asp-route-id="@item.NoteId" title="Edit Note"> @Html.DisplayFor(modelItem => item.Note1)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreateDate)
                </td>
                <td>
                    <a asp-page="./Delete" asp-route-id="@item.NoteId" title="Delete Note">
                        <img src="~/images/delete-icon.png" height="18" width="18" />
                    </a>&nbsp
                    <a asp-page="Create" title="New Note">
                        <img src="~/images/add-icon.png" height="18" width="18" />
                    </a>
                    <a asp-page="/EAInitiatives/Index" title="Back to List"><img src="~/images/icons8-rotate-left-50.png" height="18" width="18" /></a>
                </td>
            </tr>
        }
    </tbody>
</table>
@{ if (Model.Note.Count == 0)
    {
        <a asp-page="Create" title="New" >
            <img src="~/images/add-icon.png" height="18" width="18" />
        </a>
    }
}
