@page
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<h4>Current Status Codes</h4>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CurrentStatus[0].CurrentStatusShortDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentStatus[0].CurrentStatusDescription)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CurrentStatus)
        {
            <tr>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.CurrentStatusId"> @Html.DisplayFor(modelItem => item.CurrentStatusShortDescription)</a>
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.CurrentStatusId"> @Html.DisplayFor(modelItem => item.CurrentStatusDescription)</a>
                </td>
                <td>
                    <a asp-page="./Delete" asp-route-id="@item.CurrentStatusId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
