@page
@model Initiatives.Pages.Locations.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Location[0].LocationShortDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Location[0].LocationDescription)
                </th>
                
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Location) {
        <tr>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.LocationId"> @Html.DisplayFor(modelItem => item.LocationShortDescription)</a>
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.LocationId"> @Html.DisplayFor(modelItem => item.LocationDescription)</a>
            </td>
            <td> |
                <a asp-page="./Delete" asp-route-id="@item.LocationId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
