@page
@model Initiatives.Pages.Resources.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>


<table class="table">
    <thead class="blue-grey lighten-4">
        <tr>
            <th >
                @Html.DisplayNameFor(model => model.Resource[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Resource[0].LastName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Resource)
        {
            <tr>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ResourceId"> @Html.DisplayFor(modelItem => item.FirstName)</a></td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ResourceId"> @Html.DisplayFor(modelItem => item.LastName)</a></td>
                <td>
                    <a asp-page="./Delete" asp-route-id="@item.ResourceId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
