@page
@model Initiatives.Pages.SolutionTypes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.SolutionType[0].SolutionTypeShortDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SolutionType[0].SolutionTypeDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SolutionType[0].ModifiedUserName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SolutionType[0].LastModifiedDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SolutionType[0].IsActive)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.SolutionType) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SolutionTypeShortDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SolutionTypeDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedUserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastModifiedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.SolutionTypeId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.SolutionTypeId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.SolutionTypeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
